[submodule "graphql-api"]
	path = graphql-api
	url = git@github.com:swczk/spray-graphql-api.git
[submodule "spring-api"]
	path = spring-api
	url = git@github.com:swczk/spray-spring-api.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:swczk/spray-frontend.git
